@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #1f242d;
    --secondary-color: #323946;
    --text-color: #fff;
    --main-color: #fbff05;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header .sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, 0.2);
}

.logo {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--text-color);
    cursor: default;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}
.navbar a:hover, 
.navbar a.active {
    color: var(--main-color);
    text-shadow: #fbff05 0 0 1rem;
}

#menu-icon {
    display: none;
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
}

.home {
    padding-top: calc(90px + 50px);
    padding-bottom: 70px;
    display: flex ;
    justify-content: center;
    align-items: center;
}

.home-img {
    width: 32vw;
}

.home-content h3 {
    font-size: 3.3rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 1rem;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.3rem;
    font-weight: 700;
    line-height:  1;
}

.home-content p {
    font-size: 1.1rem;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .3s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--secondary-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    color: var(--secondary-color);
    font-size: 1.7rem;
    font-weight: 500;
    border-radius: 4rem;
    cursor: pointer;
}

.btn:hover {
    color: var(--secondary-color);
    box-shadow: 0 0 1rem var(--main-color);
    transition: .3s ease;
}

.about {
    padding-top: 100px;
    padding-bottom: 130px;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    background : var(--secondary-color);
}

.about-img img {
    width: 35vw;
}

.heading{
    text-align: center;
    font-size:  4.5rem;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
}

.about-content h3{
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.5rem;
    margin: 2rem 0 3rem;
}

.skills {
    padding-top: 100px;
    padding-bottom: 60px;
    min-height: auto;
    background: var(--bg-color);
}

.skills .heading {
    margin-bottom: 1rem;
}

.skills .title {
    text-decoration: underline var(--main-color);
    text-align: center;
    margin-bottom: 3rem;
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: bold;
}

.skills-row {
  max-width: 800px;
  margin: auto;
}

.progress {
  margin: 15px 0;
}

.skill-info {
  display: flex;
  align-items: center;   
  gap: 10px;             
  margin-bottom: 5px;
}

.skill-info img {
  width: 33px;
  height: 33px;
  object-fit: contain;
}

.skill-info h3 {
  font-size: 16px;
  font-weight: 600;
}

.skill-info span {
  margin-left: 8px;
  color: var(--text-color);
  font-size: 14px;
}

.skill-bar {
  background: #eee;
  border-radius: 20px;
  height: 10px;
  overflow: hidden;
}

.skill-level {
  width: 0;
  height: 100%;
  background: var(--main-color);
  border-radius: 20px;
  transition: width 1.5s ease-in-out;
}
.progress.loaded .skill-level {
  width: var(--skill-width);
}

.projects {
  padding-top: 100px;
  padding-bottom: 170px;
  background-color: var(--secondary-color);
}

.projects h2 {
    margin-bottom: 3rem;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    max-width: 1100px;   
    margin: 0 auto;      
    padding: 0 1rem;     
}

.project-box {
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: .3s ease;
    display: flex;
}

.project-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 2rem;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.project-box:hover {
    transform: translateY(-1rem);
    box-shadow: 0 0 1rem var(--main-color);
}

.project-box:hover .project-layer {
    opacity: 1;
}

.project-layer h4 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: var(--main-color)
}

.project-layer p {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.contact {
    padding: 4rem 2rem; 
    padding-top: 100px;
    padding-bottom: 60px;
    background: var(--bg-color);
}

.contact h2 {
    padding-top: 1rem;
    margin-bottom: 1rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    color: var(--text-color);
    background: var(--secondary-color);
    border-radius: .8rem;
    font-size: 1.5rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--secondary-color); 
}

.footer-text p {
    font-size: 1.6rem ;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
}

.footer-iconTop a i {
    color: var(--bg-color);
    font-size: 2.4rem;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
    transition: .3s ease;
}

.footer-iconTop a i:hover {
    font-size: 2.4rem;
    transition: .3s ease;
}


/*Breakpoints */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 1200px) {
    .header {
        padding: 2rem 3%;
    }

    .section {
        padding: 10rem 3% 2rem;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 ,5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home {
        padding-top: 10rem;
        flex-direction: column;
    }

    .home content h3 {
        font-size: 2.6rem;
    }

    .home content h1 {
        font-size: 2.6rem;
    }

    .home-img {
        width: 80vw;
        margin: 3rem 0;
    }

    .home-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .about {
        flex-direction: column-reverse;
        text-align: center;
        gap: 1rem;
    }

    .about-content h2 {
        font-size: 3.6rem;
        text-align: center;
    }

    .about img {
        width: 80vw;
        margin: 3rem 0;
    }

    .skills-row {
        max-width: 100%;
        margin: auto;
        padding: 0 1rem;
    }

    .projects {
        padding-top: 8rem;
    }

    .projects-container {
        gap: 3rem;
        grid-template-columns: 1fr;
    }

    .project-box {
        transition: .3s ease;
    }

    .project-box:hover {
        transform: translateY(-1rem);
        box-shadow: 0 0 1rem var(--main-color);
    }

}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .contact form .input-box input,
    .contact form textarea {
        width: 100%;
        font-size: 1.4rem;
        padding: 1.2rem;
    }

}

@media (max-width: 365px) {
    .home-img img {
       width: 90vw;
    } 

    .about-img img {
        width: 90vw;
    }

    .footer {
        flex-direction: column-reverse;
        text-align: center;
        width: 100%;
        gap: 2rem;
    }

    .footer p {
        font-size: 1.4rem;
        text-align: center;
    }
}

